<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>

      <header class="header">
    <div class="menu-bar">
      <a href="home" class="syocart" ><h1 class="logo">SY<span>OCART</span></h1></a>
      <ul>


        <li><a href="chartTEMP">CHART TEMPERATURE<i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                  <li><a href="c_jour">CHART JOUR</a></li>
                  <li>   <a href="chartTEMP_semaine">CHART SEMAINE</a></li>
                  <li> <a href="chartTEMP_mois">CHART MOIS</a></li>
                </ul>
              </div>
        </li>



        <li><a href="chartHUM">CHART HUMIDITE<i class="fas fa-caret-down"></i></a>

          <div class="dropdown-menu">
              <ul>
                <li><a href="chartHUM_jour">CHART JOUR</a></li>
                <li>   <a href="chartHUM_semaine">CHART SEMAINE</a></li>
                <li> <a href="chartHUM_mois">CHART MOIS</a></li>
              </ul>
            </div>
      </li>


        <li><a href="download_csv">DOWNLOAD CSV<i class="fas fa-caret-down"></i></a>

          <div class="dropdown-menu">
              <ul>
                <li><a href="csv_jour">DOWNLOAD CSV JOUR</a></li>
                <li>   <a href="csv_semaine">DOWNLOAD CSV SSEMAINE</a></li>
                <li> <a href="csv_mois">DOWNLOAD CSV  MOIS</a></li>
              </ul>
            </div>
      </li>
        
   <li><a>LOGOUT</a></li>



      </ul>
    </div>

    </header>
        <br>
    <br>
    <br>
        <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <center>
    <h1>Image Classification</h1></center>
    <br>
    <br>
    <br>
<form method="post" action="/">
    <label for="apikey">API Key:</label>
    <input type="text" id="apikey" name="apikey" required>
    
    <label for="url">Image URL:</label>
    <input type="text" id="url" name="url" required>
    
    <button type="submit">Predict</button>
</form>

<!-- Result and error messages -->
{% if result %}
    <h2>Result:</h2>
    <p>Class Name: {{ result.class_name }}</p>
    <p>Confidence Score: {{ result.confidence_score }}</p>
    <p> Temperature min : {{ result.min_temp }}</p>
    <p> Temperature max : {{ result.max_temp }}</p>
{% elif error %}
    <p class="error">Error: {{ error }}</p>
{% endif %}
</body>
</html>